/* Add CSS for styling the page */
body {
    text-align: center;
  }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#drop-zone {
  display: inline-block;
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

#drop-zone.drag-over {
  border-color: #6c6;
}
  